body{
  background-color: aliceblue;
}
p{
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.795);
}
figure{
  display: inline-block;
  gap: 1px;
}
img{
  height: 200px;
}
.news-letter{
  margin-left: 30px;
  margin-bottom: 20px;
}
footer{
  text-align: center;
}
h1{
  color: rgb(165, 33, 222);
  text-align: center;
  text-decoration: underline;
}
h2{text-align: center;
  color: rgba(132, 75, 156, 0.755);
}
h3 {
  color: rgb(234, 163, 11);
  
}
input{
  cursor: pointer;
}
button{
  margin-top: 20px;
  margin-left: 40px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: grey;
}
a{
  text-decoration: none;
}
